
<div class="container-fluid">
    <div class="container" id="about-container-big"> 
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-sm-12 col-xs-12 text-center">
                <p id="intro">Hi, welcome to my side project called Scoutiste.</p><br>
           
            

                    <p id="intro_2">This wesbite came out of a failed startup, whose initial idea I refused to give up on. I believed then and believe now that there should be an easier way to sift through Craigslist and eBay to find those hidden gems.<br><br> So here is my first stab at it. It's currently limited to Craigslist in the Bay Area. If you find it at all useful, please let me know how it could be better.</p><br>
                
                 <p id="intro_3">Items are updated every Tuesday and Friday morning (8am PST).<br><br>
                
            </div>
          
        </div>
       
    </div>
</div>




















